<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <%- include('../partials/headers') %>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../partials/top-navbar.ejs') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1>بازیابی رمز عبور</h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <!--Inner Content Start-->
    <div class="innercontent">
      <div class="container">
        <div class="card mx-auto loginWrp wow fadeInUp">
          <div class="card-body">
            <h4 class="card-title mb-4">بازیابی رمز عبور</h4>
            <form>
              <div id="alertDIV"></div>
              <input
                type="text"
                class="d-none"
                id="tokenID"
                value="<%= token %>"
              />
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="کلمه عبور"
                  type="password"
                  name="password"
                  id="password"
                  required
                />
              </div>
              <!-- form-group// -->
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="تکرار کلمه عبور"
                  type="password"
                  id="repeatPassword"
                  required
                />
              </div>
              <!-- form-group// -->

              <!-- form-group// -->
            </form>
            <div class="form-group">
              <button
                type="submit"
                class="btn login_btn btn-primary btn-block"
                id="resetBTN"
              >
                ارسال درخواست
              </button>
            </div>
          </div>
          <!-- card-body.// -->
        </div>
      </div>
    </div>

    <!--Inner Content End-->

    <!--Footer Start-->
    <%- include('../partials/footer') %>
    <!--Footer End-->

    <%- include('../partials/scripts') %>
    <script src="/javascripts/auth/reset-password-page.js"></script>
  </body>
</html>
