<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <%- include('../partials/headers') %>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../partials/top-navbar.ejs') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1>بازیابی کلمه عبور</h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <!--Inner Content Start-->
    <div class="innercontent">
      <div class="container">
        <div class="card mx-auto loginWrp wow fadeInUp">
          <div class="card-body" id="resetBody">
            <h4 class="card-title mb-4">بازیابی کلمه عبور</h4>
            <form>
              <div id="alertDIV"></div>
              <p class="text-info">
                جهت ارسال درخواست بازیابی رمز عبور، نام کاربری یا آدرس ایمیل خود
                را وارد کنید.
              </p>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="نام کاربری"
                  type="text"
                  name="username"
                  id="username"
                />
              </div>
              <!-- form-group// -->
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="آدرس ایمیل"
                  type="email"
                  name="email"
                  id="email"
                />
              </div>
              <!-- form-group// -->
            </form>
            <div class="form-group">
              <button
                type="submit"
                class="btn login_btn btn-primary btn-block"
                id="resetRequestBTN"
              >
                ارسال
              </button>
            </div>
          </div>
          <!-- card-body.// -->
        </div>
      </div>
    </div>

    <!--Inner Content End-->

    <!--Footer Start-->
    <%- include('../partials/footer') %>
    <!--Footer End-->

    <%- include('../partials/scripts') %>
    <script src="/javascripts/auth/resetRequest.js"></script>
  </body>
</html>
