<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <%- include('../partials/headers') %>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../partials/top-navbar.ejs') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1>پنل مدیریت</h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <div class="row m-5" style="height: 80vh">
      <div class="col-sm-12 col-md-4 col-lg-2">
        <div class="list-group" id="list-tab" role="tablist">
          <a
            class="list-group-item list-group-item-action active"
            href="/admin"
            role="tab"
          >
            پنل مدیریت
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/users/all"
            role="tab"
          >
            مدیریت کاربران
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/status"
            role="tab"
          >
            مدیریت وضعیت املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/categories"
            role="tab"
          >
            مدیریت انواع املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/facility"
            role="tab"
          >
            مدیریت امکانات املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties"
            role="tab"
          >
            مدیریت املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/submit"
            role="tab"
          >
            ثبت ملک
          </a>
          <% if(user.role == 'super admin' || user.role == 'admin') { %> <%
          if(unreadMessagesCount > 0) { %>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/messages"
            role="tab"
          >
            پیام های دریافتی
            <span class="badge badge-danger mr-1"
              ><%= unreadMessagesCount %></span
            >
          </a>
          <% } else { %>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/messages"
            role="tab"
          >
            پیام های دریافتی
          </a>
          <% } %> <% } %> <% if(user.role == 'super admin') { %>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/settings"
            role="tab"
          >
            تنظیمات
          </a>
          <% } %>
          <a
            class="list-group-item list-group-item-action"
            href="/auth/logout"
            role="tab"
          >
            خروج
          </a>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-10">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="adminMainContainer"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">پنل مدیریت</h4>
              <p>به پنل مدیریت خوش آمدید.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer Start-->
    <%- include('../partials/footer') %>
    <!--Footer End-->

    <%- include('../partials/scripts') %>

    <!-- <script src="/javascripts/admin/adminMain.js"></script> -->
  </body>
</html>
