<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%- include('../partials/headers') %>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../partials/top-navbar') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1><%= property.title %></h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <!--Inner Content Start-->
    <div class="innercontent">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <form>
              <div
                class="sidebar_form card card-body wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp"
              >
                <div class="input-group">
                  <input
                    type="text"
                    name=""
                    class="form-control"
                    placeholder="عنوان ملک"
                    id="search-title"
                  />
                  <div class="hover_icon">
                    <a href="#"><i class="fas fa-search"></i></a>
                  </div>
                </div>
                <div class="input-group">
                  <input
                    type="text"
                    name=""
                    class="form-control"
                    placeholder="شهر"
                    id="search-city"
                  />
                  <div class="hover_icon">
                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                  </div>
                </div>
                <div class="input-group">
                  <div class="input-group">
                    <div
                      class="nice-select form-control wide select_option"
                      tabindex="0"
                    >
                      <span class="current">نوع ملک</span>
                      <ul class="list propertyCategories">
                        <% propertyCategories.forEach(category => { %>
                        <li
                          data-value="1"
                          class="option"
                          id="searchCategories-<%= category.shortName %>"
                        >
                          <%= category.name %>
                        </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                  <div class="nice-select wide select_option" tabindex="0">
                    <span class="current">وضعیت ملک</span>
                    <ul class="list propertyStatus">
                      <% propertyStatus.forEach(status => { %>
                      <li
                        data-value="1"
                        class="option"
                        id="searchStatus-<%= status.shortName %>"
                      >
                        <%= status.name %>
                      </li>
                      <% }); %>
                    </ul>
                  </div>
                </div>
                <div class="input-group">
                  <div
                    class="nice-select form-control wide select_option"
                    tabindex="0"
                  >
                    <span class="current">اتاق خواب</span>
                    <ul class="list propertyBedroom">
                      <li
                        data-value="Bedrooms"
                        data-display="Bedrooms"
                        class="option selected focus"
                      >
                        اتاق خواب
                      </li>
                      <li data-value="1" class="option">1</li>
                      <li data-value="2" class="option">2</li>
                      <li data-value="3" class="option">3</li>
                      <li data-value="4" class="option">4</li>
                      <li data-value="5" class="option">5</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="قیمت از..."
                        id="search-lowPrice"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="قیمت تا..."
                        id="search-highPrice"
                      />
                    </div>
                  </div>
                </div>
                <div class="input-group">
                  <button class="submit" id="searchBTN">
                    جستجو <i class="fa fa-search mr-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
            <div class="single-widgets widget_category mt30 fadeInUp wow">
              <h4>دسته بندی ها</h4>
              <ul>
                <% for (let index = 0; index < categories.length; index++) { %>
                <li>
                  <a href="/category/<%= categories[index].shortName %>"
                    ><%= categories[index].name %>
                    <span><%= categories[index].propertyID.length %></span></a
                  >
                </li>
                <% } %>
              </ul>
            </div>
            <div class="single-widgets widget_category fadeInUp wow">
              <h4>املاک اخیر</h4>
              <ul class="property_sec">
                <% for (let index = 0; index < latestProperty.length; index++) {
                %>
                <li>
                  <div class="rec_proprty">
                    <div class="propertyImg">
                      <a
                        href="/property/<%= latestProperty[index].propertyID %>"
                      >
                        <img
                          alt=""
                          src="<%= latestProperty[index].mainPicture %>"
                          width="40px"
                          height="60px"
                      /></a>
                    </div>
                    <div class="property_info">
                      <a
                        href="/property/<%= latestProperty[index].propertyID %>"
                        ><h4><%= latestProperty[index].title %></h4></a
                      >

                      <a
                        href="/property/<%= latestProperty[index].propertyID %>"
                        ><small
                          >ایران , <%= latestProperty[index].city %> , <%=
                          latestProperty[index].region %></small
                        ></a
                      >
                      <div class="priceWrp">
                        <%= latestProperty[index].price %> تومان
                      </div>
                    </div>
                  </div>
                </li>

                <% } %>
              </ul>
            </div>
          </div>
          <div class="col-lg-8">
            <!-- Place somewhere in the <body> of your page -->
            <div id="slider" class="flexslider wow fadeInUp">
              <ul class="slides">
                <li><img alt="" src="<%= property.mainPicture %>" /></li>
                <% for (let index = 0; index < property.otherPictures.length;
                index++) { %>
                <li>
                  <img alt="" src="<%= property.otherPictures[index] %>" />
                </li>
                <% } %>

                <!-- items mirrored twice, total of 12 -->
              </ul>
            </div>
            <div id="carousel" class="flexslider wow fadeInUp">
              <ul class="slides">
                <li><img alt="" src="<%= property.mainPicture %>" /></li>
                <% for (let index = 0; index < property.otherPictures.length;
                index++) { %>
                <li>
                  <img alt="" src="<%= property.otherPictures[index] %>" />
                </li>
                <% } %>
                <!-- items mirrored twice, total of 12 -->
              </ul>
            </div>

            <% if(user) { %>
            <input
              class="d-none"
              type="text"
              value="<%= user._id %>"
              id="userIDIndex"
            />
            <% } %>
            <div class="property_details">
              <div class="row property_head wow fadeInUp">
                <div class="col-lg-6 col-md-6">
                  <h3><%= property.title %></h3>
                  <div class="property_address"><%= property.address %></div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="heart_info">
                    <% if(user) { %> <% if(property.likes.includes(user._id)) {
                    %>
                    <div class="heart_icon">
                      <a>
                        <i
                          class="fas fa-heart removeLike"
                          style="color: red"
                          id="unlike-<%= property._id %>"
                        ></i
                      ></a>
                    </div>

                    <% } else{ %>
                    <div class="heart_icon">
                      <a>
                        <i
                          class="far fa-heart submitLike"
                          id="like-<%= property._id %>"
                        ></i
                      ></a>
                    </div>
                    <% } %> <% } %>
                    <div class="property_price">
                      <%= property.price %> تومان
                    </div>
                  </div>
                </div>
              </div>
              <div class="property_widget wow fadeInUp">
                <h3 class="desc_head">توضیحات</h3>
                <p><%= property.description %></p>
              </div>
              <div class="property_widget wow fadeInUp">
                <h3 class="desc_head">جزئیات ملک</h3>
                <div class="row prop_del">
                  <div class="col-lg-6">
                    <ul class="property_list">
                      <li>
                        <span>شناسه ملک :</span> <%= property.propertyID %>
                      </li>
                      <li><span>قیمت :</span> <%= property.price %> تومان</li>
                      <li>
                        <span>اندازه املاک :</span> <%= property.area %> متر
                        مربع
                      </li>
                      <li>
                        <span>سرویس بهداشتی :</span> <%= property.bathroom %>
                      </li>
                      <li><span>اتاق خواب :</span> <%= property.bedroom %></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="property_list">
                      <li>
                        <span>سال ساخته :</span> <%= property.constructionYear
                        %>
                      </li>
                      <li><span>پارکینگ :</span> <%= property.parking %></li>
                      <li><span>نوع ملک :</span> ویلا</li>
                      <li><span>وضعیت ملک :</span> برای فروش</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="property_widget wow fadeInUp">
                <h3 class="desc_head">امکانات</h3>
                <ul class="list-unstyled icon-checkbox">
                  <% for (let index = 0; index < facilities.length; index++) {
                  %> <% for (let i = 0; i < facilities[index].propertyID.length;
                  i++) { %> <%
                  if(JSON.stringify(facilities[index].propertyID[i]) ===
                  JSON.stringify(property._id)) { %>

                  <li><%= facilities[index].name %></li>
                  <% } %> <% } %> <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %> <%- include("../partials/scripts") %>
    <script src="/javascripts/index/like.js"></script>
    <script src="/javascripts/index/search.js"></script>
  </body>
</html>
