<footer class="footer bg-style wow fadeInUp">
  <div class="container">
    <div class="footer-upper">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="footer-widget about-widget">
            <a href="#">
              <img
                src="<%= settings[0].footerLogo %>"
                width="320px"
                height="80px"
              />
            </a>
            <p><%= settings[0].footerText %></p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3"></div>
        <div class="col-lg-4 col-md-5">
          <div class="footer-widget quick-links">
            <h3 class="title">لینک های سریع</h3>
            <ul>
              <li><a href="/">صفحه اصلی</a></li>
              <li><a href="/about">درباره ما</a></li>
              <li><a href="/contact">تماس با ما</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget contact">
            <h3 class="title">اطلاعات تماس</h3>
            <ul class="footer-adress">
              <li class="footer_address">
                <i
                  class="fas fa-map-signs"
                  style="font-size: 20px !important"
                ></i>
                <span><%= settings[0].address %></span>
              </li>
              <li class="footer_email">
                <i
                  class="fas fa-envelope"
                  style="font-size: 20px !important"
                ></i>
                <span
                  ><a href="mailto:<%= settings[0].email %>">
                    <%= settings[0].email %>
                  </a></span
                >
              </li>
              <li class="footer_phone">
                <i
                  class="fas fa-phone-alt"
                  style="font-size: 20px !important"
                ></i>
                <span
                  ><a
                    href="tel:<%= settings[0].tell %>"
                    style="font-size: 20px !important"
                    ><%= settings[0].tell %></a
                  ></span
                >
              </li>
            </ul>
            <div class="social-icons footer_icon">
              <ul>
                <% if (settings[0].telegram) { %>
                <li>
                  <a href="<%= settings[0].telegram %>"
                    ><i class="fab fa-telegram"></i
                  ></a>
                </li>
                <% } %> <% if (settings[0].facebook) { %>
                <li>
                  <a href="<%= settings[0].facebook %>"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <% } %> <% if (settings[0].twitter) { %>
                <li>
                  <a href="<%= settings[0].twitter %>"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <% } %> <% if (settings[0].instagram) { %>
                <li>
                  <a href="<%= settings[0].instagram %>"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
