<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />

    <link rel="stylesheet" href="/stylesheets/table.css" />
    <link rel="stylesheet" href="/stylesheets/tableUsers.css" />

    <!-- Bootstrap CSS -->
    <%- include('../../partials/headers') %>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../../partials/top-navbar.ejs') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1>مدیریت دسته بندی املاک</h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <div class="row m-5">
      <div class="col-sm-12 col-md-4 col-lg-2">
        <div class="list-group" id="list-tab" role="tablist">
          <a
            class="list-group-item list-group-item-action"
            href="/admin"
            role="tab"
          >
            پنل مدیریت
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/users/all"
            role="tab"
          >
            مدیریت کاربران
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/status"
            role="tab"
          >
            مدیریت وضعیت املاک
          </a>
          <a
            class="list-group-item list-group-item-action active"
            href="/admin/properties/categories"
            role="tab"
          >
            مدیریت دسته بندی املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/facility"
            role="tab"
          >
            مدیریت امکانات املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties"
            role="tab"
          >
            مدیریت املاک
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/properties/submit"
            role="tab"
          >
            ثبت ملک
          </a>
          <% if(user.role == 'super admin' || user.role == 'admin') { %> <%
          if(unreadMessagesCount > 0) { %>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/messages"
            role="tab"
          >
            پیام های دریافتی
            <span class="badge badge-danger mr-1"
              ><%= unreadMessagesCount %></span
            >
          </a>
          <% } else { %>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/messages"
            role="tab"
          >
            پیام های دریافتی
          </a>
          <% } %> <% } %> <% if(user.role == 'super admin') { %>
          <a
            class="list-group-item list-group-item-action"
            href="/admin/settings"
            role="tab"
          >
            تنظیمات
          </a>
          <% } %>
          <a
            class="list-group-item list-group-item-action"
            href="/auth/logout"
            role="tab"
          >
            خروج
          </a>
        </div>
      </div>

      <div class="container-lg col-sm-12 col-md-8 col-lg-10">
        <div class="table-responsive">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-4 col-md-6"></div>
                <div class="col-4 col-md-6 mb-4">
                  <div class="search-box">
                    <div class="input-group">
                      <input
                        type="text"
                        id="search"
                        class="form-control"
                        placeholder="جستجو"
                        style="border: 2px solid #0000006e"
                      />
                      <span class="input-group-addon"
                        ><i class="fa fa-search mr-2"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-striped text-center">
              <thead class="bg-dark text-light">
                <tr>
                  <th>#</th>
                  <th>عنوان</th>
                  <th style="width: 65%">توضیحات</th>
                  <th style="width: 12%">عملیات</th>
                </tr>
              </thead>
              <tbody>
                <% for( let index = 0; index < propertyCategories.length;
                index++ ) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= propertyCategories[index].name %></td>
                  <td><%= propertyCategories[index].description %></td>

                  <td>
                    <a
                      class="edit ml-3"
                      title="ویرایش دسته بندی"
                      data-toggle="modal"
                      data-target="#editType"
                      data-toggle="tooltip"
                      ><i
                        class="fas fa-edit text-info editType"
                        id="category-<%= propertyCategories[index]._id %>"
                      ></i
                    ></a>
                    <a class="edit" title="حذف دسته بندی" data-toggle="tooltip"
                      ><i
                        class="fas fa-times text-danger deleteType"
                        id="delcategory-<%= propertyCategories[index]._id %>"
                      ></i
                    ></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <form
              class="form-inline mt-5"
              method="POST"
              action="/admin/properties/category"
            >
              <label for="name">عنوان دسته بندی: </label>
              <input
                type="text"
                class="form-control mb-2 mr-sm-2 w-25"
                id="name"
                name="name"
                placeholder="عنوان دسته بندی"
              />

              <label class="mr-3" for="description">توضیحات دسته بندی: </label>
              <input
                type="text"
                class="form-control mb-2 mr-sm-2 w-25"
                id="description"
                name="description"
                placeholder="توضیحات دسته بندی"
              />
              <button type="submit" class="btn btn-success mb-2 mr-3">
                ثبت
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="editType"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editType"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="">ویرایش نوع ملک</h5>
          </div>
          <div class="modal-body bg-light" id="editTypeByModal"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success ml-3" id="submitBTN">
              ویرایش
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              id="closeBTN"
            >
              بستن
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Footer Start-->
    <%- include('../../partials/footer') %>
    <!--Footer End-->

    <%- include('../../partials/scripts') %>

    <script src="/javascripts/admin/property/tableSearch.js"></script>
    <script src="/javascripts/admin/property/editType.js"></script>
    <script src="/javascripts/admin/property/deleteType.js"></script>
  </body>
</html>
