<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />

    <link rel="stylesheet" href="/stylesheets/table.css" />

    <!-- Bootstrap CSS -->
    <%- include('../../partials/headers') %>
    <style>
      .fa-user-cog:hover {
        color: #007bff;
      }

      .fa-undo:hover {
        color: rgb(11, 206, 11);
      }

      .fa-trash:hover {
        color: red;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../../partials/top-navbar.ejs') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1>مدیریت کاربران</h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <div class="row m-5">
      <%- include('./menu') %>
      <div class="container-lg col-sm-12 col-md-8 col-lg-10">
        <div class="table-responsive">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white">
                      <li class="breadcrumb-item">
                        <a href="/admin/users/all">همه</a>
                      </li>
                      <li class="breadcrumb-item" aria-current="page">
                        کاربران فعال
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/admin/users/deactive">کاربران غیر فعال</a>
                      </li>
                    </ol>
                  </nav>
                </div>
                <div class="col-sm-6">
                  <div class="search-box">
                    <div class="input-group">
                      <input
                        type="text"
                        id="search"
                        class="form-control"
                        placeholder="جستجو"
                        style="border: 2px solid #0000006e"
                      />
                      <span class="input-group-addon"
                        ><i class="fa fa-search mr-2"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-striped text-center">
              <thead class="bg-dark text-light">
                <tr>
                  <th>#</th>
                  <th>نام</th>
                  <th>نام خانوادگی</th>
                  <th>نام کاربری</th>
                  <th>آدرس ایمیل</th>
                  <th>شماره موبایل</th>
                  <th>نقش</th>
                  <th style="width: 10%">عملیات</th>
                </tr>
              </thead>
              <tbody>
                <% for( let index = 0; index < users.length; index++ ) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= users[index].firstName %></td>
                  <td><%= users[index].lastName %></td>
                  <td><%= users[index].username %></td>
                  <td><%= users[index].email %></td>
                  <td><%= users[index].mobileNumber %></td>
                  <% if(users[index].role == 'admin') { %>
                  <td>مدیر</td>
                  <% } else if(users[index].role == 'writer') { %>
                  <td>نویسنده</td>
                  <% } else { %>
                  <td>کاربر</td>
                  <% } %> <% if(users[index].role == 'admin') { %>
                  <td>
                    <a class="edit" title="تغییر نقش" data-toggle="tooltip"
                      ><i class="fas fa-user-cog text-secondary"></i
                    ></a>
                    <a
                      class="edit"
                      title="بازیابی رمز عبور "
                      data-toggle="tooltip"
                      ><i
                        class="fas fa-undo text-success"
                        id="resetPassword-<%= users[index]._id %>"
                      ></i
                    ></a>
                    <a
                      class="edit"
                      title="غیر فعال کردن کاربر"
                      data-toggle="tooltip"
                      ><i
                        class="fas fa-user-times text-secondary deactiveUser"
                      ></i
                    ></a>
                  </td>
                  <% } else { %>
                  <td>
                    <a
                      class="edit"
                      title="تغییر نقش"
                      data-toggle="modal"
                      data-target="#changeRole"
                      data-toggle="tooltip"
                      ><i
                        class="fas fa-user-cog text-info changeRole"
                        id="role-<%= users[index]._id %>"
                      ></i
                    ></a>
                    <a
                      class="edit"
                      title="بازیابی رمز عبور "
                      data-toggle="tooltip"
                      ><i
                        class="fas fa-undo text-success"
                        id="resetPassword-<%= users[index]._id %>"
                      ></i
                    ></a>
                    <a
                      class="edit"
                      title="غیر فعال کردن کاربر"
                      data-toggle="tooltip"
                      ><i
                        class="fas fa-user-times text-danger deactiveUser"
                        id="remove-<%= users[index]._id %>"
                      ></i
                    ></a>
                  </td>
                  <% } %>
                </tr>

                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="changeRole"
      tabindex="-1"
      role="dialog"
      aria-labelledby="changeRole"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeRole">تغییر نقش کاربر</h5>
          </div>
          <div class="modal-body bg-light" id="changeRoleBodyModal">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Recipient:</label
                >
                <input type="text" class="form-control" id="recipient-name" />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label"
                  >Message:</label
                >
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success mr-3" id="submitBTN">
              ثبت
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              id="closeBTN"
            >
              بستن
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Footer Start-->
    <%- include('../../partials/footer') %>
    <!--Footer End-->

    <%- include('../../partials/scripts') %>

    <script src="/javascripts/admin/users/changeRole.js"></script>
    <script src="/javascripts/admin/users/resetPassword.js"></script>
    <script src="/javascripts/admin/users/deactiveUser.js"></script>
    <script src="/javascripts/table.js"></script>
  </body>
</html>
