<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <%- include('../partials/headers') %>
    <title><%= title %></title>
  </head>
  <body>
    <!--Topbar Start-->
    <%- include('../partials/top-navbar.ejs') %>
    <!--Topbar End-->

    <!--Header Start-->
    <%- include('../partials/navbar') %>
    <!--Header End-->

    <!--Inner Heading Start-->
    <div class="innerHeading">
      <div class="container">
        <h1>تفییر کلمه عبور</h1>
      </div>
    </div>
    <!--Inner Heading End-->

    <div class="row m-5">
      <div class="col-sm-12 col-md-4 col-lg-2">
        <div class="list-group" id="list-tab" role="tablist">
          <a
            class="list-group-item list-group-item-action"
            href="/users/profile"
            role="tab"
          >
            ویرایش حساب کاربری
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/users/avatar"
            role="tab"
          >
            ویرایش عکس حساب کاربری
          </a>
          <a
            class="list-group-item list-group-item-action active"
            href="#"
            role="tab"
          >
            تغییر کلمه عبور
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="/auth/logout"
            role="tab"
          >
            خروج
          </a>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-10">
        <div class="card mx-auto loginWrp wow fadeInUp">
          <div class="card-body">
            <h4 class="card-title mb-4">تغییر کلمه عبور</h4>
            <form>
              <div id="alertDIV"></div>
              <div class="form-group">
                <input
                  type="text"
                  class="d-none"
                  id="userID"
                  value="<%= user._id %>"
                />
                <input
                  class="form-control"
                  placeholder="کلمه عبور"
                  type="password"
                  name="password"
                  id="password"
                  required
                />
              </div>
              <!-- form-group// -->
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="تکرار کلمه عبور"
                  type="password"
                  id="repeatPassword"
                  required
                />
              </div>
              <!-- form-group// -->

              <!-- form-group// -->
            </form>
            <div class="form-group">
              <button
                type="submit"
                class="btn login_btn btn-primary btn-block"
                id="resetBTN"
              >
                تغییر رمز عبور
              </button>
            </div>
          </div>
          <!-- card-body.// -->
        </div>
      </div>
    </div>

    <!--Footer Start-->
    <%- include('../partials/footer') %>
    <!--Footer End-->

    <%- include('../partials/scripts') %>

    <!-- <script src="/javascripts/admin/adminMain.js"></script> -->
  </body>
</html>
